# NOTE:
# - Do NOT include --server or --api-key
# - Use {{ALBUM}} if album name is required

# Basic dry run
dry_run="--dry-run"

# Automatically use folder name as album and tag
album_by_folder_tag="--folder-as-album FOLDER --folder-as-tags"

# Automatically use full path as album and tag
album_by_path_tag="--folder-as-album PATH --folder-as-tags"

# Into a specific album (placeholder {{ALBUM}})
into_album_tag="--into-album {{ALBUM}} --folder-as-tags"
into_album="--into-album {{ALBUM}}"